@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
    --corprincipal: white;
    --corsegundaria: white;
    --cortitulo: black;
}

body {
    background-image: url("./img/backgroudimage.png"); /* Caminho para sua imagem de fundo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--corsegundaria); /* Cor de fallback */
    margin: 0;
    padding: 0;
    font-family: 'Madimi One', sans-serif;
  }
  /* Estilos adicionais para o conteúdo da página */
  .content {
    padding: 20px;
    color: white;
  }

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1 {
    margin-right: 25px;
    color: var(--cortitulo);
}

.cabecalho img {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

.container-input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input {
    width: 400px;
    height: 330px;
}

#input-texto {
    width: 345px;
    height: 330px;
    font-size: 50px;
    color: var(--cortitulo);
    background: transparent;
    box-shadow: none;
    border: none;
    resize: none;
    outline: 0;
    padding: 10px;
    text-transform: uppercase;
}

#output {
    position: relative; /* Define a posição como relativa */
    width: 350px;
    height: 400px;
    margin-right: 3%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo da caixa com transparência */
    border: 3px solid var(--cortitulo);
    border-radius: 20px;
  }
  
  #output h2 {
    text-align: center;
    font-size: 20px;
    color: var(--cortitulo);
    margin-bottom: 10px;
  }
  
  #output span {
    font-size: 12px;
    text-align: center;
  }
  
.container-bnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-bnt button {
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.btn-copiar {
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 50px;
    margin: 10px;
    margin-left: 90px;
    cursor: pointer;
}

.container-bnt button:hover,
.btn-copiar:hover {
    border: 2px solid var(--corsegundaria);
    color: var(--corsegundaria);
    transition: 0.5s all;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px;
    background: var(--corprincipal);
    color: var(--cortitulo);
}

.rodape h3 {
    font-size: 16px;
}

.icons ion-icon {
    width: 25px;
    height: 25px;
    color: var(--cortitulo);
}

.icons ion-icon:hover {
    color: var(--corsegundaria);
}
